<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body bgcolor="#cce0ff">
<div class="container">
    <h1 style="text-align:center">Payment Detail</h1>
    <div class="row col-md-7 table-responsive" style="text-align:center">
        <table class="table" style="width:90%; margin:auto">
            <tbody>
            <tr>
                <td>id</td>
                <td th:text="${paymentinfo.id}"></td>
            </tr>
            <tr>
                <td>intent</td>
                <td th:text="${paymentinfo.intent}"></td>
            </tr>
            <tr>
                <td>amount</td>
                <td th:text="${paymentinfo.amount}"></td>
            </tr>
            <tr>
                <td>status</td>
                <td th:text="${paymentinfo.status}"></td>
            </tr>
            <tr>
                <td>email</td>
                <td th:text="${paymentinfo.email}"></td>
            </tr>
            <tr>
                <td>firstName</td>
                <td th:text="${paymentinfo.firstName}"></td>
            </tr>
            <tr>
                <td>lastName</td>
                <td th:text="${paymentinfo.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
